.thread-header_container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.thread-header_wrapper_postpage {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.thread-header_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-bottom: 1rem;
}

.thread-header_create_post_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3rem;
  background-color: #417cef;
  border-radius: 0.5rem;
}

.thread-header_create_post_wrapper:hover {
  background-color: #98b9fc;
  cursor: pointer;
}

.thread-header_create_post_text {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffffff;
}

.thread-header_modal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.thread-header_userProfile_img {
  width: 4rem;
  height: 4rem;
  margin-right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thread-header_userInfo_userName {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.thread-header_userInfo_userEmail {
  font-weight: bold;
}

.thread-contents_dropdown {
  margin-bottom: 1rem;
}

.thread-contents_cancel_button_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.thread-contents_cancel_button {
  opacity: 0.5;
}

.thread-contents_cancel_button:hover {
  cursor: pointer;
  opacity: 1;
}

.thread-contents_task_question {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.thread-contents_task_question_notice {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.thread-contents_task_wrapper {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.thread-contents_task_question_post_title {
  cursor: pointer;
}

.thread-contents_button_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.task_container {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.task_header {
  padding: 1rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.task_list {
  padding: 1.5rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 5px;
  border-color: #417cef;
  animation: fade 1000ms infinite;
  -webkit-animation: fade 1000ms infinite;
}

.task_list:hover {
  padding: 1.5rem;
  background-color: #ffffff;
  margin-bottom: 1rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 5px;
  border-color: #417cef;
  animation: none;
  -webkit-animation: none;
}

.task_history {
  padding: 1rem;
  background-color: #ffffff;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}

.task_history :not(:last-child) {
  margin-bottom: 1rem;
}

.task_history_box {
  /* background-color: #fab6b6; */
  /* border-radius: 1rem; */
  /* border-color: #417cef;
  border-style: solid;
  border-width: 2px;
  border-radius: 1rem; */
  padding: 0.5rem;
  max-height: 10rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.task_history_box :not(:last-child) {
  margin-bottom: 0.5rem;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}

.reset_button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.empty_history {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  font-size: 1rem;
  font-weight: bold;
  opacity: 0.5;
}
