.post_title_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.post_source_box {
  width: 20rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.post_source_box_open_it_below {
  color: #4891e4;
  cursor: "pointer";
}

.rightTextAlign {
  display: flex;
  text-align: right;
}

.textBox {
  border-style: solid;
  border-color: coral;
  margin-left: 3%;
  margin-right: 3%;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.instrBox {
  margin-left: 3% !important;
  margin-right: 3% !important;
  margin-bottom: 0.5% !important;
}

.buttonPos {
  justify-content: right bottom !important;

}